.loginButton {
  display: flex;
  align-items: center;
  padding: 10px 80px;
  margin: 0;
  color: var(--black-700);
  background-color: var(--background);
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: var(--black-100);
  cursor: pointer;

  &:hover {
    color: var(--black-800);
    background-color: var(--black-25);
    border-color: var(--black-150);
  }

  @media (max-width: 323px) {
    padding: 10px 45px;
  }
}

.loginButtonInnerWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.loginButtonGoogleLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
}

.loginButtonInnerText {
  padding: 0 2px;
}